<div id="favorites" class="container">
  <h1>Wellcome to your favorites {{user.email}}</h1>
  <div class="col-xs-12 favorite-animals">
    <div class="col-xs-12 col-sm-6 col-md-4 pull-left" ng-repeat="favorite in favorites">
      <img ng-src="{{favorite.animal_image}}">
      <h3>{{favorite.animal_name}}</h3>
      <h5>{{favorite.animal_specie}} | {{favorite.animal_location}}</h5>
      <h5>hello</h5>

      <address><h5><a href="mailto:{{animal.shelter_email}}"><i class="fa fa-envelope"></a></i> Ask about me</h3></address>
      <h5><a ng-click="deleteFavorite(favorite)"><i class="fa fa-times"></a></i></h5>

      <!-- <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{favorite.animal_name}}+needs+a+home+now!+See+me+on+iPet" data-size="large">Tweet</a> -->
    </div>
  </div>
</div>

