<div id="favorites" class="container">
  <h1 align="center"><i class="fa fa-heart"></i>   My Favorite Pets</h1>
  <h3 align="center">Welcome {{user.email}}</h3>
  <hr>
  <div class="favorite-animals">
    <div id="favorite-card" class="col-xs-12 col-sm-6 col-md-4 pull-left" ng-repeat="favorite in favorites">
      <div class="col-xs-8">
        <h3>{{favorite.animal_name | capitalize:true}}</h3>
        <address><h3><a href="mailto:{{animal.shelter_email}}"><i class="fa fa-envelope"></a></i> Ask about me</h3></address>
      </div>
      <div class="col-xs-4">
        <h3 class="pull-right"><a ng-click="deleteFavorite(favorite)"><i class="fa fa-times"></a></i></h3>
      </div>
      <div class="col-xs-12 img-container"></div>
        <img ng-src="{{favorite.animal_image}}">
      </div>
  <!--     <div class="col-xs-12 col-sm-6 col-md-4 pull-left" ng-repeat="favorite in favorites">
        <img ng-src="{{favorite.animal_image}}">
        <h3>{{favorite.animal_name}}</h3>
        <h5>{{favorite.animal_specie}} | {{favorite.animal_location}}</h5>
        <h5>hello</h5> -->

    </div>
  </div>

</div>

<!-- <hr>
<div class="col-xs-6">
  <h3><a href="/#/animals/{{animal.id}}">{{animal.name}}</a></h3>
  <h5>{{ animal.location }}</h5>
  <h5>{{ animal.sex ? animal.sex : "unknown" ; }} | {{ animal.age ? animal.age : "unkown" ; }}</h5>
</div>
<div class="col-xs-6">
  <img class="pull-right" id="icon" ng-src="{{ animalIcon(animal) }}" alt="{{animal.specie}}">
</div>
<div class='col-xs-12 img-container'>
  <img ng-src="{{animal.animal_image}}">
</div>
 -->

