<div id="post-animal" class="conatainer well">
  <form name="newAnimal" ng-submit="addAnimal()">
    <div>
      <label>Name</label>
      <input type="text" name="name" ng-model="shelterAnimal.name">
    </div>
    <div>
      <label>Animal</label>
      <select name="specie" ng-model="shelterAnimal.specie">
        <option>dog</option>
        <option>cat</option>
        <option>reptile & fish</option>
        <option>rabbit</option>
        <option>rodent</option>
      </select>
    </div>
    <div>
      <label>Breed</label>
      <input type="text" name="breed" ng-model="shelterAnimal.breed">
    </div>
    <div>
      <label>Photo</label>
      <input type="text" name="photo_url" ng-model="shelterAnimal.photo_url">
    </div>
    <div>
      <label>Sex</label>
      <select name="sex" ng-model="shelterAnimal.sex">
        <option>female</option>
        <option>male</option>
      </select>
    </div>
    <div>
      <label>Age</label>
      <select type="text" name="age" ng-model="shelterAnimal.age">
        <option>baby</option>
        <option>young</option>
        <option>adult</option>
        <option>senior</option>
      </select>
    </div>
    <div>
      <label>Color</label>
      <input type="text" name="color" ng-model="shelterAnimal.color">
    </div>
    <div>
      <label>Notes</label>
      <input type="text" name="note" ng-model="shelterAnimal.note">
    </div>
    <div>
      <label>Size</label>
      <select type="text" name="size" ng-model="shelterAnimal.size">
        <option>small</option>
        <option>medium</option>
        <option>large</option>
      </select>
    </div>
    <div>
      <input id="add-animal" type="submit" value="Add animal">
    </div>
  </form>
</div>