<div id="search-form" class="conatainer">
  <form>
    <div class="form-group index-search">
      <label for="location">Location</label>
      <select ng-model="location" plcaeholder="ANY" class="dropdown form-control">
        <option value="">Any</option>
        <option>hong kong</option>
        <option>kowloon</option>
        <option>new territories</option>
      </select>
    </div>
    <div class="form-group index-search">
      <label for="specie">Animal</label>
      <select ng-model="specie" class="dropdown form-control">
        <option value="">Any</option>
        <option>dog</option>
        <option>cat</option>
        <option>reptile & fish</option>
        <option>rabbit</option>
        <option>rodent</option>
      </select>
    </div>
    <div class="form-group index-search">
      <label for="specie">Sex</label>
      <select ng-model="sex" class="dropdown form-control">
        <option value="" >- Any -</option>
        <option>female</option>
        <option>male</option>
      </select>
    </div>
    <div class="form-group index-search">
      <label for="specie">Age</label>
      <select ng-model="age" class="dropdown form-control">
        <option value="" >- Any -</option>
        <option>baby</option>
        <option>young</option>
        <option>adult</option>
        <option>senior</option>
      </select>
    </div>
    <div class="form-group index-search">
      <label for="specie">Size</label>
      <select ng-model="size" class="dropdown form-control">
        <option value="" >- Any -</option>
        <option>small</option>
        <option>medium</option>
        <option>large</option>
      </select>
    </div>
  </form>
</div>
