    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">myPet</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/">Find A Pet</a></li>
            <li><a href="#/shelters">Find A Shelter</a></li>
            <li><a ng-show="current_user" href="#/favorites">My Favorite Pets</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signup or Login <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ng-hide="current_user" href="/#/admin/signup">Shelter/Rescue Signup</a></li>
                <li><a ng-hide="current_user" href="/#/admin/login">Shelter/Rescue Login</a></li>
                <li role="separator" class="divider"></li>
                <li><a ng-hide="current_user" href="/#/signup">Public Signup</a></li>
                <li><a ng-hide="current_user" href="/#/login">Public Login</a></li>
                <li><a ng-show="current_user" ng-click="logout()">Logout</a></li>
              </ul>
            </li>
            <li><a href="#/about">About</a></li>
            <!-- <li ng-show="current_user">Welcome {{ user.email  }} </li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Created by Philippa Johnstone<a target="_blank" href="https://github.com/Grub2801"><i class="fa fa-github"></i></a></p>
      </div>
    </footer>