<div class="container">
  <div>
    <h1>Welcome {{user.email}}</h1>
  </div>
  <animal-search-form></animal-search-form>
  <section id="card" class='container-fluid'>
  <div class="grid js-masonry"
    data-masonry-options='{ "columnWidth": 200, "gutter": 20, "itemSelector": ".grid-item" }'>
    <div ng-repeat="animal in animals | filter:location | filter:specie | filter:sex | filter:age | filter:size | orderBy:'-created_at'" >
    <animal-index-card animal="animal" class="grid-item" ></animal-index-card>
    </div>
  </div>
  </section>
</div>