<div id="animal-show" class="container">
  <h5><a href="/#/"><i class="fa fa-arrow-left">  Back</i></a></h5>
  <h1>My name is {{animal.name | capitalize:true}}</h1>
  <img ng-src="{{animal.avatar}}" width="300" class="img-responsive">
  <h3>Facts about {{animal.name | capitalize:true}}</h3>
  <h5>Breed: {{animal.breed ? animal.breed : "unknown" }}</h5>
  <h5>Color: {{animal.color ? animal.color : "unknown" ; }}</h5>
  <h5>Age: {{animal.age ? animal.age : "unknown" ; }}</h5>
  <h5>Sex: {{animal.sex ? animal.sex : "unknown" ;}}</h5>
  <h5>Size: {{animal.size ? animal.size : "unknown" ;}}</h5>
  <h5>{{animal.note | capitalize}}</h5>
  <add-favorite></add-favorite>
  <address><h3><a href="mailto:{{animal.shelter_email}}"><i class="fa fa-envelope"></a></i> Ask about me</h3></address>
  <h3>Help me find a home</h3>
  <a href="https://twitter.com/share"
     class="twitter-share-button"{count}
     data-text="{{animal.name}} needs a home now! Find me on myPet"
     data-size="large">Tweet</a>
  <h3>Im being cared for by <a href="/#/shelters/{{animal.shelter_id}}/">{{animal.shelter_name | capitalize:true }}</a></h3>
  <h5>{{animal.shelter_description | capitalize}}</h5>
</div>