<div id="animal-new" class="container">
  <h1>Add a new animal:</h1>
  <add-animal-form></add-animal-form>
  <div>
    <shelter-title shelter="shelter" ></shelter-title>
  </div>
  <div>Welcome ID {{user.id}} NAME {{user.name}}</div>

  <div>
    <ul>
      <li ng-repeat="animal in shelterAnimals">
        {{ animal.name }} | <span> {{ animal.specie }}</span>
        <button class="btn btn-edit" ng-click="editAnimal(animal); displayEditButtons()">Edit</button>
        <button class="btn btn-delete" ng-click="deleteAnimal(animal.id)">X</button>
      </li>
    </ul>
  </div>
</div>