<div id="shelter-show" class="container">
  <h5><a href="/#/shelters"><i class="fa fa-arrow-left">  Back</i></a></h5>
  <h1>{{shelter.name | capitalize:true}}</h1>
  <img ng-src="{{shelter.image}}" width="300" class="img-responsive">
  <h5>Address: {{shelter.address | capitalize:true}}</h5>
  <h5>Phone: {{shelter.phone ? shelter.phone : "not provided" ; }}</h5>
  <h5>Email: <a href="{{shelter.email}}">{{shelter.email}}</a></h5>
  <h5>Website: <a target="_blank" href="{{shelter.website}}">{{shelter.website}}</a></h5>
  <h5>Description: {{shelter.description}}</h5>
  <h5>Donate: <a target="_blank" href="{{shelter.donation_info}}">{{shelter.donation_info}}</a></h5>
  <div>
    <h5><a ng-hide="show" ng-click="showAnimals()">View our animals</a></h5>
  </div>
  <div>
    <shelter-animal-list ng-show="show"></shelter-animal-list>
  </div>
</div>