<div class="container">
  <h5><a href="/#/shelters"><i class="fa fa-arrow-left">  Back</i></a></h5>
  <h1>{{shelter.name}}</h1>
  <img ng-src="{{shelter.image}}" width="300" class="img-responsive">
  <h3>Address: {{shelter.address}}</h3>
  <h5>Phone: {{shelter.phone}}</h5>
  <h5>Email: {{shelter.email}}</h5>
  <h5>Website: <a href="{{shelter.website}}">{{shelter.website}}</a></h5>
  <h5>Description: {{shelter.description}}</h5>
  <h5>Donate: <a href=""></a>{{shelter.donation_info}}</h5>
  <div>
    <h5><a ng-hide="show" ng-click="showAnimals()">View our animals</a></h5>
  </div>
  <div>
    <shelter-animal-list ng-show="show"></shelter-animal-list>
  </div>
</div>