<div class="container">
  <h1>About</h1>
  <p>Use this websites search to find pets for adoption! myPet is a website where shelters and rescues list their pets for adoption. We don’t have the pets ourselves!</p>
  <p>Click on a link below to….</p>
  <ul>
    <li><a href="/#/animals">Find a Pet</a></li>
    <li><a href="/#/shelters">Find a Shelter</a></li>
  </ul>
  <p>Filter the list of animals for adoption based on your preferences, and you will see photos of matching pets. Click on a pet’s name to see that pet’s information. If you are interested in that pet, click on the “Ask About Me” button to contact that pet’s shelter or rescue.</p>
  <p>You can also, search for shelters or rescue centers by name or location.


</div>