<div class="container">
  <form class="form-horizontal" name="newAnimal" ng-submit="addAnimal()">
    <div class="form-group">
      <label class="col-sm-2">Name</label>
      <div class="col-sm-10">
        <input type="text" name="name" ng-model="animal.name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2">Animal</label>
      <div class="col-sm-10">
        <select type="text" name="specie" ng-model="animal.specie">
          <option value="dog">dog</option>
          <option value="cat">cat</option>
          <option value="reptile & fish"> reptile & fish</option>
          <option value="rabbit">rabbit</option>
          <option value="rodent">rodent</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2">Breed</label>
      <div class="col-sm-10">
        <input type="text" name="breed" ng-model="animal.breed">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2">Sex</label>
        <div class="col-sm-10">
        <select type="text" name="sex" ng-model="animal.sex">
          <option value="female">female</option>
          <option value="male">male</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2">Age</label>
      <div class="col-sm-10">
        <select type="text" name="age" ng-model="animal.age">
          <option value="baby">baby</option>
          <option value="young">young</option>
          <option value="adult">adult</option>
          <option value="senior">senior</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2">Color</label>
      <div class="col-sm-10">
        <input type="text" name="color" ng-model="animal.color">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2">Size</label>
      <div class="col-sm-10">
        <select type="text" name="size" ng-model="animal.size">
          <option>small</option>
          <option>medium</option>
          <option>large</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2">Notes</label>
      <div class="col-sm-10">
        <input type="text" name="note" ng-model="animal.note">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" value="Add">
      </div>
    </div>
  </form>

  <div>
    <shelter-title shelter="shelter" ></shelter-title>
  </div>

  <div>
    <ul>
      <li ng-repeat="animal in shelterAnimals">
        {{ animal.name }} <span> {{ animal.specie }}</span>
        <a href="" ng-click="editAnimal(animal)">Edit</a>
        <button ng-click="deleteAnimal(animal.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>