#post-animal {
  background-color: rgba(85, 158, 131, 0.4);
  color: #5a5255;
  border-radius: 40px;
}

select.form-control{
  color: #5a5255;
}

input.btn-add {
  background-color: rgba(85, 158, 131, 0.1);
  border: 2px solid white;
  border-radius: 20px;
}

input.btn-add:hover {
  color: white;
  background-color: rgba(85, 158, 131, 0.8);
}

input.btn-save {
  background-color: rgba(195, 203, 113, 0.1);
  border: 2px solid white;
  border-radius: 20px;
}

input.btn-save:hover {
  color: white;
  background-color: rgba(195, 203, 113, 0.8);
}

input.btn-cancel {
  background-color: rgba(27, 133, 184, 0.1);
  border: 2px solid white;
  border-radius: 20px;
}

input.btn-cancel:hover {
  color: white;
  background-color: rgba(27, 133, 184, 0.8);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}