button.btn-edit {
  background-color: rgba(85, 158, 131, 0.1);
  border: 2px solid white;
  border-radius: 20px;
}

button.btn-edit:hover {
  color: white;
  background-color: rgba(85, 158, 131, 0.8);
}

button.btn-delete {
  background-color: rgba(27, 133, 184, 0.1);
  border: 2px solid white;
  border-radius: 20px;
}

button.btn-delete:hover {
  color: white;
  background-color: rgba(27, 133, 184, 0.8);
}