#login-btn {
  background-color: #559e83;
  border-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  color:  rgba(195, 203, 113, 0.6)
}

#back-btn {
  background-color: #ae5a41;
  border-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  color:  rgba(195, 203, 113, 0.6)
}

#login-btn:hover {
  color:  rgba(195, 203, 113, 1)
}

#back-btn:hover {
  color:  rgba(195, 203, 113, 1)
}
